body {
  width: 100%;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #252525;
  color: #F8F8F8;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

a:link {
  color: #af0404; 
}

a {
  color: #af0404; 
}

a:hover {
  color: #9c0202;
  text-decoration: none;
}

button {
  color: #af0404;
}

.sn-button:hover {
  color: #af0404;
}